:root {
  --bg-color: #07001c;
  --text-color: #fff;
  --accent-color: #110e38;
  --color-a: #78C257;
  --color-b: #00A4EF;
  --color-c: #f78686;
  --color-d: #595959;
  --line-color: #3c4873;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'AR One Sans';
  font-size: 18px;
  margin: 0;
  padding: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.line-pattern {
  background-image: 
    linear-gradient(to right, var(--line-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--line-color) 1px, transparent 1px);
  background-size: 70px 70px;
}

header {
  position: static;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  display: grid;
  background-color: rgba(5, 1, 48, 0.5);
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid white;
}

@media (min-width: 768px) {
  header {
    position: static;
  }
}

.header-img {
  display: block;
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-family: 'ADLaM Display';
}
h2 {
  text-align: center;
  font-family: 'ADLaM Display';
}
h3 {
  text-align: center;
}

p {
  text-align: center;
  margin: 20px;
}

main {
  margin: 30px;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

.image-grid {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 10px;
}

@media (min-width: 768px) {
  .image-grid {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
  }
}
.image-item {
  width: 100%;
  height: auto;
  margin: 10px;
  border: 2px #3c4873;
  border-style: groove;
  border-radius: none;
}

.button-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .button-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
  }
}

.block-button-a {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px 15px 10px;
  background-color: var(--color-a);
  color: #fff;
  text-decoration: none;
  font-family: ;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.block-button-b {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px 15px 10px;
  background-color: var(--color-b);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.block-button-c {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px 15px 10px;
  background-color: rgba(0, 0, 0, 0.0);
  color: #fff;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.block-button-d {
  display: block;
  width: 200px;
  height: 40px;
  margin: 10px 15px 10px;
  background-color: var(--color-d);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.block-button-a:hover {
  background-color: #487534;
}

.block-button-b:hover {
  background-color: #026d9e;
}

.block-button-c:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

footer {
  align-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(5, 1, 48, 0.5);
  color: white;
  padding: 20px;
  text-align: center;
  border-top: 1px solid white;
}

@media (min-width: 768px) {
  footer {
    position: static;
  }
}


.footer-con {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-col {
  margin: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-img {
  max-width: 70px;
  height: auto;
}

.footer-col a {
  color: white;
  text-decoration: none;
}

.footer-col a:hover {
  color: #38a3a5;
}

.footer-copyright {
  color: darkgrey;
}
